/* Custom Stylesheet */
@font-face {
  font-family: 'StateFaceRegular';
  src: url('../font/stateface/stateface-regular-webfont.eot');
  src: url('../font/stateface/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../font/stateface/stateface-regular-webfont.woff') format('woff'),
      url('../font/stateface/stateface-regular-webfont.ttf') format('truetype'),
      url('../font/stateface/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Continental-Symbol-ST';
  src:url('../font/continental/Continental-Symbol-ST.eot');
  src:url('../font/continental/Continental-Symbol-ST.eot?#iefix') format('embedded-opentype'),
    url('../font/continental/Continental-Symbol-ST.woff') format('woff'),
    url('../font/continental/Continental-Symbol-ST.ttf') format('truetype'),
    url('../font/continental/Continental-Symbol-ST.svg#Continental-Symbol-ST') format('svg');
  font-weight: normal;
  font-style: normal;
}
.map-ad,.map-al,.map-at,.map-ba,.map-be,.map-bg,.map-by,.map-ch,.map-cy,.map-cz,
.map-de,.map-dk,.map-ee,.map-es,.map-fi,.map-fo,.map-fr,.map-ge,.map-gg,.map-gr,
.map-hr,.map-hu,.map-ie,.map-im,.map-is,.map-it,.map-je,.map-li,.map-lt,.map-lu,
.map-lv,.map-mc,.map-md,.map-me,.map-mk,.map-mt,.map-nl,.map-no,.map-pl,.map-pt,
.map-ro,.map-rs,.map-ru,.map-se,.map-si,.map-sk,.map-sm,.map-tr,.map-ua,.map-uk,
.map-va, .map-eur {
  font-family: 'Continental-Symbol-ST';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.map-ad:before { content: "\e034"; }
.map-al:before { content: "\e033"; }
.map-at:before { content: "\e032"; }
.map-ba:before { content: "\e031"; }
.map-be:before { content: "\e030"; }
.map-bg:before { content: "\e02f"; }
.map-by:before { content: "\e02e"; }
.map-ch:before { content: "\e02d"; }
.map-cy:before { content: "\e02c"; }
.map-cz:before { content: "\e02b"; }
.map-de:before { content: "\e02a"; }
.map-dk:before { content: "\e029"; }
.map-ee:before { content: "\e028"; }
.map-es:before { content: "\e027"; }
.map-fi:before { content: "\e026"; }
.map-fo:before { content: "\e025"; }
.map-fr:before { content: "\e024"; }
.map-ge:before { content: "\e023"; }
.map-gg:before { content: "\e022"; }
.map-gr:before { content: "\e021"; }
.map-hr:before { content: "\e020"; }
.map-hu:before { content: "\e01f"; }
.map-ie:before { content: "\e01e"; }
.map-im:before { content: "\e01d"; }
.map-is:before { content: "\e01c"; }
.map-it:before { content: "\e01b"; }
.map-je:before { content: "\e01a"; }
.map-li:before { content: "\e019"; }
.map-lt:before { content: "\e018"; }
.map-lu:before { content: "\e017"; }
.map-lv:before { content: "\e016"; }
.map-mc:before { content: "\e015"; }
.map-md:before { content: "\e014"; }
.map-me:before { content: "\e013"; }
.map-mk:before { content: "\e012"; }
.map-mt:before { content: "\e011"; }
.map-nl:before { content: "\e010"; }
.map-no:before { content: "\e00f"; }
.map-pl:before { content: "\e00e"; }
.map-pt:before { content: "\e00d"; }
.map-ro:before { content: "\e00c"; }
.map-rs:before { content: "\e00b"; }
.map-ru:before { content: "\e00a"; }
.map-se:before { content: "\e009"; }
.map-si:before { content: "\e008"; }
.map-sk:before { content: "\e007"; }
.map-sm:before { content: "\e006"; }
.map-tr:before { content: "\e005"; }
.map-ua:before { content: "\e004"; }
.map-uk:before { content: "\e003"; }
.map-va:before { content: "\e002"; }
.map-eur:before { content: "\e001"; }
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #EDEDED;
}
::-webkit-scrollbar-thumb {
  background-color: #C8E2EB;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #375C6A;
}
nav ul a, nav .brand-logo {
  color: #444;
}
p {
  line-height: 2rem;
}
.button-collapse {
  color: #26a69a;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
footer.page-footer {
  margin: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 16pt;
}
#top_banner {
  background-image: url('../img/showcase_home_wide.jpg');
  background-size: cover;
}
div .center-text {
  text-align: center;
}
.button {
  display: block;
}
.button img {
  width: 100px;
}
.parallax-container.valign-wrapper.slim {
  min-height: 200px !important;
}

/* slider tooltip */

.tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  font: 400 12px/12px Arial;
  border-radius: 3px;
  background: #fff;
  top: 43px;
  padding: 5px;
  left: -9px;
  text-align: center;
  width: 64px;
}
.tooltip strong {
  display: block;
  padding: 2px;
}
#card_sample {
  width: 70%;
}
.vcenter {
  padding-top: 100px !important;
  line-height: 200%;
}
.hidden {
  visibility: hidden;
}
.spec_tbl td, .spec_tbl_header td {
  font-size: 12pt;
  width: 20%;
  padding-left: 20px;
  padding-right: 20px;
}
.spec_tbl_header td {
  font-size: 14pt;
}
#logo {
  width: 128px;
  height: 64px;
  background-image: url('../img/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.dropdown-content li a {
  color: #37474f !important;
}
.page-footer {
  padding: 0 !important;
}
.collapsible-header {
  background-color: #cfd8dc !important;
}
.small {
  font-size: 1rem;
}
.extra-light {
  font-weight: 200 !important;
}
nav {
  box-shadow: none !important;
}
.slim {
  line-height: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
#connect {
  display: none;
}
#c {
  position: absolute;
  width: 100%;
}
#karma, #glassroom {
  position: relative;
  top: -150px;
}
#glassroom {
  top: -50px;
}
footer form .row {
  margin-bottom: 0;
}
